In [1]:
import pandas as pd # for reading the csv file
import numpy as np #
import matplotlib as plt # for ploting the grap
import seaborn as sns # for using better visualization technique

C:\Users\Shivam\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
df_aff_hou_pro = pd.read_csv("LAHD_Affordable_Housing_Projects_List__2003_to_Present_.csv") # used pandas to read the csv file and then stored it under dataset1

In [6]:
df_res_mkt_hel = pd.read_csv("Restaurant_and_Market_Health_Inspections.csv")

### (b) Performing EDA on df_aff_hou_pro and df_res_mkt_hel

#### (b-1)  Check for the data types and analyses of df_aff_hou_pro

##### Head

In [21]:
df_aff_hou_pro.head(10) #this is to look at the first few columns of data. we canhl also write head(n) where n is no. of rows to be veiwed. the default value of n is 5.

,APN,PROJECT NUMBER,NAME,DEVELOPMENT STAGE,CONSTRUCTION TYPE,SITE ADDRESS,SITE COUNCIL DISTRICT,SITE #,SITE COMMUNITY,SITE UNITS,...,MANAGEMENT COMPANY,CONTACT PHONE,PHOTO,JOBS,PROJECT SUMMARY URL,CONTRACT NUMBERS,DATE STAMP,SITE LONGITUDE,SITE LATITUDE,GPS_COORDS ON MAP
0,5143020023,02-118256,SAN LUCAS APARTMENTS,In-Service,NEW CONSTRUCTION,"1221 W 7TH ST Los Angeles, CA 90017",1,1,WESTLAKE,196,...,GSL PROPERRTY MANAGEMENT,NaN,click here (http://hcidapp.lacity.org/mpphotos...,NaN,click here (http://hcidapp.lacity.org/ahtfRepo...,NaN,2024-08-05T00:00:00.000,-118.26584,34.05235,POINT (-118.26584 34.05235)
1,5050011005,05-117193,LEEWARD APTS. (SITE 7),In-Service,REHAB,"2809 S WEST BLVD Los Angeles, CA 90016",10,7,CRENSHAW DISTRICT,0,...,"ALPHA PROPERTY MANAGEMENT, INC.",(323) 231-4174,click here (http://hcidapp.lacity.org/mpphotos...,NaN,click here (http://hcidapp.lacity.org/ahtfRepo...,NaN,2024-08-05T00:00:00.000,-118.34182,34.03071,POINT (-118.34182 34.03071)
2,5114014020,14-121652,FLORENCE MILLS (SITE 5),In-Service,NEW CONSTRUCTION,"1037 E MARTIN LUTHER KING BLVD LOS ANGELES, C...",9,5,CENTRAL,0,...,BARKER MANAGEMENT INCORPORATED,(714) 533-3450,click here (http://hcidapp.lacity.org/mpphotos...,226.0,click here (http://hcidapp.lacity.org/ahtfRepo...,C-129358,2024-08-05T00:00:00.000,-118.25740,34.01115,POINT (-118.2574 34.01115)
3,4012018025,60013,MORGAN PLACE SENIOR APTS.,In-Service,NEW CONSTRUCTION,"7305 S CRENSHAW BLVD Los Angeles, CA 90043",8,1,HYDE PARK,55,...,ABODE COMMUNITIES,(213) 225-2772,click here (http://hcidapp.lacity.org/mpphotos...,110.0,click here (http://hcidapp.lacity.org/ahtfRepo...,C-111486,2024-08-05T00:00:00.000,-118.33139,33.97355,POINT (-118.33139 33.97355)
4,5153030026,50036,WITMER HEIGHTS,In-Service,NaN,"116 S WITMER ST Los Angeles, CA 90026",13,1,TEMPLE-BEAUDRY,49,...,THE JOHN STEWART COMPANY,(213) 482-9122,click here (http://hcidapp.lacity.org/mpphotos...,95.0,click here (http://hcidapp.lacity.org/ahtfRepo...,C-109452,2024-08-05T00:00:00.000,-118.26086,34.06173,POINT (-118.26086 34.06173)
5,5127029049,18-125459,LA PRENSA LIBRE- 9% (FKA WASHINGTON/ LA),In-Service,NEW CONSTRUCTION,"200 E WASHINGTON BLVD Los Angeles, CA 90015",9,1,UNIVERSITY PARK,42,...,"FPI MANAGEMENT, INC.",(916) 357-5312 x434,click here (http://hcidapp.lacity.org/mpphotos...,NaN,click here (http://hcidapp.lacity.org/ahtfRepo...,C-137346,2024-08-05T00:00:00.000,-118.26348,34.03031,POINT (-118.26348 34.03031)
6,5037025018,14-121612,KING 1101,In-Service,NEW CONSTRUCTION,"1107 W MARTIN LUTHER KING BLVD Los Angeles, C...",8,1,EXPOSITION PARK,26,...,"LEVINE MANAGEMENT GROUP, INC",(310) 358-3489,click here (http://hcidapp.lacity.org/mpphotos...,85.0,click here (http://hcidapp.lacity.org/ahtfRepo...,C-127889,2024-08-05T00:00:00.000,-118.29437,34.01106,POINT (-118.29437 34.01106)
7,5119011019,13-120909,ROBERTA STEPHENS VILLAS I & II (RECAP) (SITE 2),In-Service,ACQUISITION + REHAB,"1113 E 27TH ST Los Angeles, CA 90011",9,2,CENTRAL,0,...,CONCERNED CITIZENS OF SOUTH CENTRAL LOS ANGELES,(323) 846-2500,click here (http://hcidapp.lacity.org/mpphotos...,32.0,click here (http://hcidapp.lacity.org/ahtfRepo...,C-83407,2024-08-05T00:00:00.000,-118.25506,34.01791,POINT (-118.25506 34.01791)
8,4286030020,24-131812,ADDA & PAUL SAFRAN SENIOR HOUSING(RECAP),NaN,ACQUISITION + REHAB,187 S OCEAN FRONT WALK CA 90291,11,1,VENICE,63,...,NaN,NaN,click here (http://hcidapp.lacity.org/mpphotos...,NaN,click here (http://hcidapp.lacity.org/ahtfRepo...,NaN,2024-08-05T00:00:00.000,-118.48136,33.99577,POINT (-118.48136 33.99577)
9,5110025032,10-117556,SUNRISE APARTMENTS,In-Service,NaN,"5125 S MAIN ST 1-46 Los Angeles, CA 90037",9,1,SOUTH PARK,46,...,THE JOHN STEWART COMPANY,(213) 787-2710,click here (http://hcidapp.lacity.org/mpphotos...,91.0,click here (http://hcidapp.lacity.org/ahtfRepo...,C-118282,2024-08-05T00:00:00.000,-118.27429,33.99607,POINT (-118.27429 33.99607)

###### Info

In [8]:
df_aff_hou_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   APN                      595 non-null    int64
 1   PROJECT NUMBER           595 non-null    object
 2   NAME                     595 non-null    object
 3   DEVELOPMENT STAGE        594 non-null    object
 4   CONSTRUCTION TYPE        561 non-null    object
 5   SITE ADDRESS             595 non-null    object
 6   SITE  COUNCIL DISTRICT   595 non-null    int64
 7   SITE #                   595 non-null    int64
 8   SITE COMMUNITY           588 non-null    object
 9   SITE UNITS               595 non-null    int64
 10  PROJECT TOTAL UNITS      595 non-null    int64
 11  HOUSING TYPE             573 non-null    object
 12  SUPPORTIVE HOUSING       595 non-null    object
 13  SH UNITS PER SITE        595 non-null    int64
 14  DATE FUNDED              594 non-null    object
 15  LAHD FUNDED              595 non-null    float64
 16  LEVERAGE                 595 non-null    float64
 17  TAX EXEMPT CONDUIT BOND  595 non-null    int64
 18  TDC                      595 non-null    float64
 19  IN-SERVICE DATE          595 non-null    object
 20  DEVELOPER                569 non-null    object
 21  MANAGEMENT COMPANY       540 non-null    object
 22  CONTACT PHONE            511 non-null    object
 23  PHOTO                    595 non-null    object
 24  JOBS                     415 non-null    float64
 25  PROJECT SUMMARY URL      595 non-null    object
 26  CONTRACT NUMBERS         447 non-null    object
 27  DATE STAMP               595 non-null    object
 28  SITE LONGITUDE           595 non-null    float64
 29  SITE LATITUDE            595 non-null    float64
 30  GPS_COORDS ON MAP        595 non-null    object
dtypes: float64(6), int64(7), object(18)
memory usage: 144.2+ KB

##### Describe

In [23]:
df_aff_hou_pro.describe()

,APN,SITE COUNCIL DISTRICT,SITE #,SITE UNITS,PROJECT TOTAL UNITS,SH UNITS PER SITE,LAHD FUNDED,LEVERAGE,TAX EXEMPT CONDUIT BOND,TDC,JOBS,SITE LONGITUDE,SITE LATITUDE
count,5.950000e+02,595.000000,595.000000,595.000000,595.000000,595.000000,5.950000e+02,5.950000e+02,5.950000e+02,5.950000e+02,415.000000,595.000000,595.000000
mean,4.931625e+09,8.425210,2.072269,54.868908,90.732773,20.235294,4.466108e+06,1.605931e+07,2.952402e+06,2.347782e+07,193.453012,-118.308551,34.054275
std,1.153791e+09,4.631437,2.760317,49.132984,65.384237,32.166210,5.053683e+06,1.321764e+07,9.713841e+06,1.772533e+07,146.352206,0.077547,0.092567
min,2.103009e+09,1.000000,1.000000,0.000000,6.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000,-118.606390,33.736140
25%,5.039024e+09,6.000000,1.000000,21.000000,49.000000,0.000000,0.000000e+00,7.103994e+06,0.000000e+00,1.226428e+07,84.500000,-118.320325,34.011150
50%,5.143020e+09,9.000000,1.000000,49.000000,71.000000,0.000000,3.225000e+06,1.310000e+07,0.000000e+00,1.886909e+07,174.000000,-118.285750,34.047810
75%,5.511022e+09,13.000000,1.000000,75.500000,102.000000,37.500000,6.615000e+06,2.233964e+07,3.950000e+06,2.975500e+07,261.500000,-118.263290,34.086435
max,7.455014e+09,15.000000,20.000000,438.000000,438.000000,262.000000,3.968821e+07,9.407772e+07,1.842604e+08,2.230181e+08,1165.000000,-118.165140,34.324020

#### checking individual column for there datatype and unique values in case of categorical values.

###### PROJECT TOTAL UNITS

In [14]:
print(df_aff_hou_pro['PROJECT TOTAL UNITS'])

0      196
1      257
2       74
3       55
4       49
      ...
590     57
591    323
592     74
593     42
594     21
Name: PROJECT TOTAL UNITS, Length: 595, dtype: int64

###### HOUSING TYPE

In [15]:
print(df_aff_hou_pro['HOUSING TYPE'])

0                             SENIORS
1                              FAMILY
2                       SPECIAL NEEDS
3                             SENIORS
4                              FAMILY
                    ...
590                     SPECIAL NEEDS
591                            FAMILY
592                     SPECIAL NEEDS
593                            FAMILY
594    LARGE FAMILY / WAIVER REQUIRED
Name: HOUSING TYPE, Length: 595, dtype: object

##### Changing the datatype of Housing type and looking for unique values in it.

In [18]:
df_aff_hou_pro['HOUSING TYPE'] = df_aff_hou_pro['HOUSING TYPE'].astype(str)
unique_values = df_aff_hou_pro['HOUSING TYPE'].unique()
print(unique_values)

['SENIORS' 'FAMILY' 'SPECIAL NEEDS' 'nan' 'LARGE FAMILY / WAIVER REQUIRED'
 'AT-RISK' 'SRO']

##### Supportive Housing

In [19]:
print(df_aff_hou_pro['SUPPORTIVE HOUSING'])

0       No
1       No
2      Yes
3       No
4       No
      ...
590    Yes
591     No
592    Yes
593     No
594     No
Name: SUPPORTIVE HOUSING, Length: 595, dtype: object

#### changing the datatype of Supportive Housing and looking for unique values in it.

In [20]:
df_aff_hou_pro['SUPPORTIVE HOUSING'] = df_aff_hou_pro['SUPPORTIVE HOUSING'].astype(str)
unique_values = df_aff_hou_pro['SUPPORTIVE HOUSING'].unique()
print(unique_values)

['No' 'Yes']

#### (b-1)  Check for the data types and analyses of df_res_mkt_hel

In [10]:
df_res_mkt_hel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67573 entries, 0 to 67572
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   serial_number        67573 non-null  object
 1   activity_date        67573 non-null  object
 2   facility_name        67573 non-null  object
 3   score                67573 non-null  int64
 4   grade                67570 non-null  object
 5   service_code         67573 non-null  int64
 6   service_description  67573 non-null  object
 7   employee_id          67573 non-null  object
 8   facility_address     67573 non-null  object
 9   facility_city        67573 non-null  object
 10  facility_id          67573 non-null  object
 11  facility_state       67573 non-null  object
 12  facility_zip         67573 non-null  object
 13  owner_id             67573 non-null  object
 14  owner_name           67573 non-null  object
 15  pe_description       67573 non-null  object
 16  program_element_pe   67573 non-null  int64
 17  program_name         67544 non-null  object
 18  program_status       67573 non-null  object
 19  record_id            67573 non-null  object
dtypes: int64(3), object(17)
memory usage: 10.3+ MB

In [11]:
df_res_mkt_hel.describe()

              score  service_code  program_element_pe
count  67573.000000  67573.000000        67573.000000
mean      93.361890      7.618028         1629.463454
std        3.982303     51.024028            9.414625
min       64.000000      1.000000         1610.000000
25%       91.000000      1.000000         1631.000000
50%       94.000000      1.000000         1632.000000
75%       96.000000      1.000000         1635.000000
max      100.000000    401.000000         1641.000000

In [22]:
import re

# Extract ZIP code (assuming 5-digit format) from SITE ADDRESS
df_aff_hou_pro['ZIP CODE'] = df_aff_hou_pro['SITE ADDRESS'].apply(lambda x: re.findall(r'\b\d{5}\b', x)[-1] if re.search(r'\b\d{5}\b', x) else None)

# Display the extracted ZIP codes
print(df_aff_hou_pro['ZIP CODE'].head())

0    90017
1    90016
2    90011
3    90043
4    90026
Name: ZIP CODE, dtype: object